.root {
  -fx-background-color: #202020;
}

.button {
  -fx-font-size: 14px;
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-background-radius: 5px;
  -fx-border-width: 0;
}

.input {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-size: 20pt;
  -fx-background-radius: 5px;
  -fx-border-width: 0;
  -fx-background-color: #202020;
  -fx-text-fill: white;
  -fx-text-align: right;
  -fx-padding-right: 10px;
}

.result {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-weight: bold;
  -fx-font-size: 22pt;
  -fx-background-radius: 5px;
  -fx-border-width: 0;
  -fx-background-color: #323232;
  -fx-text-fill: white;
  -fx-text-align: right;
  -fx-padding-right: 10px;
}

.history {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-size: 14px;
  -fx-background-color: #323232;
  -fx-text-fill: white;
  -fx-background-radius: 5px;
  -fx-background-insets: 0;
}

.spinner {
  -fx-background-color: #323232;
  -fx-border-insets: 0;
  -fx-border-width: 0;
  -fx-background-radius: 5px;
}

.spinner:focused {
  -fx-background-color: #323232;
  -fx-border-insets: 0;
  -fx-border-width: 0;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
  -fx-padding: 0;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
  -fx-padding: 0;
}

.spinner .text-field {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-weight: bold;
  -fx-font-size: 14pt;
  -fx-text-fill: white;
  -fx-background-radius: 5px;
  -fx-background-color: #323232;
  -fx-alignment: center-right;
}

.operations-button {
  -fx-background-color: #323232;
  -fx-text-fill: #ffffff;
}

.operations-button:hover {
  -fx-background-color: #3B3B3B;
}

.operations-button:pressed {
  -fx-background-color: #282828;
  -fx-text-fill: #cecece;
}

.digits-button {
  -fx-background-color: #3B3B3B;
  -fx-text-fill: #ffffff;
}

.digits-button:hover {
  -fx-background-color: #323232;
}

.digits-button:pressed {
  -fx-background-color: #282828;
  -fx-text-fill: #cecece;
}

.action-button {
  -fx-background-color: #b5adeb;
  -fx-text-fill: #2e2c3c;
}

.action-button:hover {
  -fx-background-color: #9690c2;
}

.action-button:pressed {
  -fx-background-color: #9690c2;
  -fx-text-fill: #605c7c;
}

.graph {
  -fx-background-color: white;
  -fx-background-radius: 5px;
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-size: 14pt;
  -fx-border-width: 0;
  -fx-text-fill: black;
}

.graph-spinner {
  -fx-background-color: white;
  -fx-border-insets: 0;
  -fx-border-width: 0;
  -fx-background-radius: 5px;
}

.graph-spinner:focused {
  -fx-background-color: white;
  -fx-border-insets: 0;
  -fx-border-width: 0;
}

.graph-spinner .increment-arrow-button, .spinner .decrement-arrow-button {
  -fx-padding: 0;
}

.graph-spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
  -fx-padding: 0;
}

.graph-spinner .text-field {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-size: 14pt;
  -fx-text-fill: black;
  -fx-background-radius: 5px;
  -fx-background-color: white;
  -fx-alignment: center;
}

.help {
  -fx-font-family: "Microsoft Sans Serif", serif;
  -fx-font-size: 10pt;
  -fx-text-fill: white;
}
